<div style="width:600px;margin:10px auto;font-size:16px;">
<h1><%= t('ocwfinder.about_ocwfinder') %></h1>
<p><%= t('ocwfinder.about_description') %></p>
<p><%= t('ocwfinder.about_background') %></p>
<p><%= t('ocwfinder.about_nsdl') %></p>
<h2><%= t('ocwfinder.developers') %></h2>
<div>
<p style="clear:both;"><img style="float:left;padding-right:15px;" width="103px" src="http://www.justinball.com/wp-content/uploads/2009/01/justinball.jpg"><b><a href="http://www.justinball.com">Justin Ball</a></b> <%= t('ocwfinder.justin_bio') %></p>
<p style="clear:both;padding-top:10px;"><img src="http://www.joelduffin.com/avatar.jpg" style="float:left;padding-right:15px;padding-bottom:20px;width:103px;"><b><a href="http://www.joelduffin.com">Joel Duffin</a></b> <%= t('ocwfinder.joel_bio') %></p>
<p style="clear:both;padding-top:10px;"><img src="http://davidwiley.org/wiley-square-head.png" style="float:left;padding-right:15px;"><b><a href="http://davidwiley.org">David Wiley</a></b> <%= t('ocwfinder.wiley_bio') %></p>
</div>
</div>

