<div class="block" id="footer">
<%= t('folksemantic.credits') %> 
</div>

<div class="block" align="center">
   <%= locale_link 'Deutsch', 'de' %>
 | <%= locale_link 'English', 'en' %>
 | <%= locale_link 'Español', 'es' %>
 | <%= locale_link 'Français', 'fr' %>
 | <%= locale_link 'Nederlands', 'nl' %>
 | <%= locale_link 'Русский язык', 'ru' %>
 | <%= locale_link '中文', 'zh' %>
 | <%= locale_link '日本語', 'ja' %>
</div>


<script type="text/javascript" charset="utf-8">
  var is_ssl = ("https:" == document.location.protocol);
  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript" charset="utf-8">
  var feedback_widget_options = {};
  feedback_widget_options.display = "overlay";  
  feedback_widget_options.company = "folksemantic";
  feedback_widget_options.placement = "left";
  feedback_widget_options.color = "#222";
  feedback_widget_options.style = "idea";
  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-73651-8");
pageTracker._setDomainName("http://www.ocwfinder.org");
pageTracker._trackPageview();
} catch(err) {}</script>